<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - TFM 20222</title>
    <link rel="stylesheet" href="styleLogin.css">
    <script defer src="main.js"></script>
</head>
<body>
    <div class="logo">
        <div class=""></div>
            <a href="/">
                <img class="tfmImg" src="./img/tfm2022.png" />
            </a>
        <div class=""></div>
    </div>
    <div class="loginSection">
            <div class=""></div>
        <input class="inputId" type="text" placeholder="아이디" />
            <div class=""></div>
            <div class=""></div>
        <input class="inputPw" type="text" placeholder="비밀번호" />
            <div class=""></div>
            <div class=""></div>
        <button class="submitBtn">로그인</button>
            <div class=""></div>
    </div>
    <div class="login_rel">
        <a href="signup" id="findId" >회원가입</a>
        <span class="text_bar">|</span>
        <a href="findIdPw.html" id="findPw" >아이디/비밀번호 찾기</a>
    </div>
    <div class="foot">
        <div class=""></div>
    <span class="copyright">© 오이김. All Rights Reserved.</span>
        <div class=""></div>
    </div>
</body>
</html>