<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup - TFM 20222</title>
    <link rel="stylesheet" href="styleSignup.css">
    <script defer src="main.js"></script>
</head>
<body>
    <div class="logo">
            <div class=""></div>
        <a href="/">
        <img class="tfmImg" src="./img/tfm2022.png" />
        </a>
            <div class=""></div>
    </div>
    <form action="/tfm2022/create" method="post">
    <div class="loginSection">
        <label class="inputIdTxt" for="inputId">아이디</label>
        <input class="inputId" type="text" placeholder="" name="id"/>
            <div class=""></div>
        <label class="inputIdTxt" for="inputPw">비밀번호</label>
        <input class="inputPw" type="text" placeholder="" name="pw"/>
            <div class=""></div>
        <label class="inputIdTxt" for="inputPw">비밀번호 확인</label>
        <input class="inputPw" type="text" placeholder="" />
            <div class=""></div>
        <label class="inputIdTxt" for="inputPw">닉네임</label>
        <input class="inputPw" type="text" placeholder="" name="nick"/>
            <div class=""></div>
        <label class="inputIdTxt" for="inputPw">이름</label>
        <input class="inputPw" type="text" placeholder="" name="uname"/>
            <div class=""></div>
        <label class="inputIdTxt" for="inputPw">인재번호</label>
        <input class="inputPw" type="text" placeholder="" name="tamid"/>
            <div class=""></div>
        <label class="inputIdTxt" for="inputPw">기수</label>
        <input class="inputPw" type="text" placeholder="" name="gisu"/>
            <div class=""></div>
        <label class="inputIdTxt" for="inputPw">이메일</label>
        <input class="inputPw" type="text" placeholder="" name="mail"/>
            <div class=""></div>
            <div class=""></div>
        <button class="submitBtn" type="submit">회원가입</button>
            <div class=""></div>
    </div>
    </form>
    <div class="login_rel">
        <a href="findId.html" id="findId" >아이디 찾기</a>
        <span class="text_bar">|</span>
        <a href="findPw.html" id="findPw" >아이디 찾기</a>
    </div>
    <div class="foot">
        <div class=""></div>
    <span class="copyright">© 오이김. All Rights Reserved.</span>
        <div class=""></div>
    </div>
</body>
</html>